.rah-loading {
	background-image: url('/wp-includes/images/spinner.gif');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: none;
	vertical-align: middle;
}

.issues-na-wrapper {
	line-height: 45px;
	margin-left: 5px;
}

.issues-label {
	margin-left: 10px;
}

#issues_na {
	transform:scale(1.1, 1.1);
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
	background-color: #BFBEBF;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	cursor: default;
}

.search-fields label {
	font-size: 1.2em;
	font-weight: 400;
}

.search-fields label:not(:first-child) {
	margin-left: 25px;
}

.search-fields input[type="submit"] {
	display: inline-block;
	margin-left: 25px;
}

.host-buy-type {
	display: block;
}

#zip_code, #verify_zip_code {
	width: auto !important;
	display: inline-block;
}

#distance {
	height: 40px;
	width: auto !important;
}

.search-results h4 {
	color: #9c9c9c;
	text-transform: uppercase;
}

.search-results .user-input {
	font-style: italic;
	font-weight: 600;
}

.results-set {
	padding-left: 5px;
}

.results-set .host-distance {
	font-size: .75em;
	font-weight: normal;
	font-style: italic;
	color: #999;
}

.results-set .no-results {
	font-size: 1.5em;
}
