.rah-loading {
	background-image: url('/wp-includes/images/spinner.gif');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: none;
	vertical-align: middle;
}

.issues-na-wrapper {
	line-height: 45px;
	margin-left: 5px;
}

.issues-label {
	margin-left: 10px;
}

#issues_na {
	transform:scale(1.1, 1.1);
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
	background-color: #BFBEBF;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	cursor: default;
}

#zip_code, #verify_zip_code {
	width: auto !important;
	display: inline-block;
}
